@{
    ViewData["Title"] = "PostSingolo";
}
﻿@using Instagram.Data;
@model List<Post>;


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="@Url.Action("Create", "Home")">Crea Post</a>

    <!--<a href="@Url.Action("CreateAc", "Home")">Crea Acount</a>-->



    <div class="collapse d-block navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="@Url.Action("Index", "User")">Admin</a>
            </li>
            <!-- code omitted -->
            <partial name="_LoginPartial" />
        </ul>
    </div>


    @{
        var postvisibbile = Model.Where(post => post.Visible);
        foreach (var post in postvisibbile)
        {
            <div class="col-md-4 photo-card">
                <div class="card">
                    <!--<img src="@Model" class="card-img-top" alt="@Model">-->
                    <div class="card-body">
                        <h5 class="card-title">@post.Titolo</h5>
                        <p class="card-text">@post.Descrizione</p>
                        <a href="@Url.Action("PostIdPublico", "Home", new { id = post.Id })" class="btn btn-info">Dettaglio foto</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
